body {
  padding-top: 50px;
  font-family: 'Georgia';
}

.navbar {
  background: #FFF;
}

h1 {
  color: #672E92;
}

#logo {
  width: 200px;
}

#links ul {
  list-style-type: none;
  display: block;
  margin: 0;
  margin-right: 69px;
  padding: 0;
}

#links ul li {
  float: left;
}

#ceremony-section {
  background-image: url('../images/background.png');
  background-position: bottom -580px left -490px;
  background-repeat: no-repeat;
}

#reception-section {
  background-image: url('../images/background.png');
  background-position: bottom -350px right -300px;
  background-repeat: no-repeat;
}

#party-section, #accomadations-section, #story-section {
  background-image: url('../images/name-background.png');
  background-position: center center;
  background-repeat: no-repeat;
}

#rsvp-section {
  padding-bottom:30px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #logo {
    width: 300px;
  }

  .navbar {
    background: #FFF;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #logo {
    width: 300px;
  }

  #date {
    font-size: 25px;
    margin-top: 18px;
  }

  #links ul {
    margin-top: 28px;
  }

  #links ul li {
    padding: 0 5px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navbar {
    background: rgba(255, 255, 255, 0.55);
  }

  body, html {
    overflow: hidden;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    transition: opacity 400ms;
  }

  #logo {
    width: 400px;
  }

  #date {
    font-size: 25px;
    margin-top: 28px;
  }

  #links ul {
    margin-top: 40px;
  }

  #links ul li {
    padding: 0 10px;
  }

  .address {
    font-size:20px;
  }

  .em {
    font-size: 20px;
    font-style: italic;
  }

  .map {
    width: 600px;
    height: 500px;
    margin-top:30px;
  }

  .info {
    margin-top:12em;
  }
}

.table .bride {
  text-align: right;
}

.table>tbody>tr>td {
  border-top: none;
  padding: 2px;
}

.table h2 {
  font-size: 20px;
}

.bride .bio {
  float: right;
  margin-right: 7px;
}

.groom .bio {
  float: left;
  margin-left: 7px;
}

.bride {
  background-position: top 1px right 2px;
}

.groom {
  background-position: top 1px left 2px;
}

.bride .bio-photo {
  float: right;
}

.groom .bio-photo {
  float: left;
}

.bio-photo {
  height: 92px;
  width: 92px;
  background-repeat: no-repeat;
  background-size: 92px 92px;
}

.bio-photo:hover {
  cursor: pointer;
}

#anton .bio-photo {
  background-image: url("../images/anton.png");
}

#anton .bio-photo:hover {
  background-image: url("../images/anton-goofy.png");
}

#cindy .bio-photo {
  background-image: url("../images/cindy.png");
}

#cindy .bio-photo:hover {
  background-image: url("../images/cindy-goofy.png");
}

#tenniel .bio-photo {
  background-image: url("../images/tenniel.png");
}

#tenniel .bio-photo:hover {
  background-image: url("../images/tenniel-goofy.png");
}

#karen .bio-photo {
  background-image: url("../images/karen.png");
}

#karen .bio-photo:hover {
  background-image: url("../images/karen-goofy.png");
}

#trung .bio-photo {
  background-image: url("../images/trung.png");
}

#trung .bio-photo:hover {
  background-image: url("../images/trung-goofy.png");
}

#sandra .bio-photo {
  background-image: url("../images/sandra.png");
}

#sandra .bio-photo:hover {
  background-image: url("../images/sandra-goofy.png");
}

#julie .bio-photo {
  background-image: url("../images/julie.png");
}

#julie .bio-photo:hover {
  background-image: url("../images/julie-goofy.png");
}

#ann .bio-photo {
  background-image: url("../images/ann.png");
}

#ann .bio-photo:hover {
  background-image: url("../images/ann-goofy.png");
}

#ramiro .bio-photo {
  background-image: url("../images/ramiro.png");
}

#ramiro .bio-photo:hover {
  background-image: url("../images/ramiro-goofy.png");
}

#alphonse .bio-photo {
  background-image: url("../images/alphonse.png");
}

#alphonse .bio-photo:hover {
  background-image: url("../images/alphonse-goofy.png");
}

#vanessa .bio-photo {
  background-image: url("../images/vanessa.png");
}

#vanessa .bio-photo:hover {
  background-image: url("../images/vanessa-goofy.png");
}

#ted .bio-photo {
  background-image: url("../images/ted.png");
}

#ted .bio-photo:hover {
  background-image: url("../images/ted-goofy.png");
}

.bio-content {
  display:none;
  z-index:10000;
  background-color:#fff;
  width:675px;
  min-height:200px;
  border:1px solid #666;
  -moz-box-shadow:0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
  padding: 10px;
  top: 25%;
  left: 28%;
  margin: 0 auto;
}

.bio-content img {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 92px;
  width: 92px;
}

.bio-content p {
  padding: 5px;
}

.bio-content h2 {
  color: #672E92;
  margin: 5px 0;
  border-bottom: 1px solid #CCC;
}

.bio-content h3 {
  margin: 2px 0;
}

.vimeo-wrapper {
  position: relative;
  margin: 0 auto;
  width: 67.9%;
  height: 80%;
}